* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Lato;
    src: url("../fonts/Lato-Regular.ttf");
}

html {
    font-family: Lato;

}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3%;
    gap: 5px
}

form {
    border: 1px solid black;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 250px;
    text-align: center;
    padding: 2rem;
}

#displayFlex {
    display: flex;
    gap: 15px;
}

input[type="submit"] {
    padding: 1rem 2rem;
    border: 1px solid black;
    color: white;
    background-color: black;
    text-transform: uppercase;
}

input[type="submit"]:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

input {
    border: 1px solid black;
    padding: 0.2rem;
    width: 100%;
}